.router_link {
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.829);
}

.routing_button {
  border-top: 1px solid #1a5d1a !important;
  border-bottom: 1px solid #1a5d1a !important;
}

.routing_button:hover {
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.829);
  border-top: 1px solid #185518 !important;
  border-bottom: 1px solid #185518 !important;
}

#background {
  color: #f1c93b !important;
  background: #185518e5 !important;
  border-top: 1px solid #185518 !important;
  border-bottom: 1px solid #185518 !important;
}
#background_white {
  color: white !important;
}

#background_white {
  color: white !important;
}
.pee_pips_dashboard {
  font-family: George Rounded !important;
  font-size: 20px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 24px !important;
  color: var(--white, #fff);
  margin: 0;
  padding-left: 10px;
}
#noneDisplay {
  display: none !important;
}

.font500 {
  font-weight: 600 !important;
}
.Typo5Bold {
  font-weight: 700;
  font-family: system-ui;
}

.div-title {
  font-size: 19px !important;
  font-weight: 600 !important;
  font-family: system-ui;
  color: rgba(31, 31, 31, 0.952);
}
.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}

.d-flex {
  display: flex !important;
  align-items: center;
}

.jc-sb {
  justify-content: space-between !important;
}
.subtitle2lg {
  font-size: 16px !important;
  font-weight: 600 !important;
  color: rgb(54, 54, 54) !important;
}

.text-14 {
  font-size: 14px !important;
  margin-right: 5px;
}

.margin {
  margin-bottom: -5px !important;
}

/* Nav Css */
.iconNone {
  color: white !important;
}
.navbar-box {
  padding: 15px;
  background: white;
  border-radius: 10px;
  height: 65px;
  margin-top: 10px;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}
.avatar {
  padding-left: 20px;
  padding-right: 20px;
}
.avatar_nav {
  width: 35px !important;
  height: 35px !important;
}
.nav_user_name {
  font-family: George Rounded !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 400;
  line-height: 24px !important;
  color: var(--black, #000) !important;
}

/* ------  */
.div-shadow {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px !important;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
}
/* --------icon------------- */

.nav_width {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
  transform: 1s;
}

@media only screen and (max-width: 930px) {
  .pee_pips_dashboard {
    display: none;
  }

  .iconNone {
    display: none !important;
  }
}
