/* ----------------- */
.email_text {
  font-family: George !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0 !important;
  color: #808080;
}
.profile_title {
  font-family: George Rounded !important;
  font-size: 24px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 24px !important;
}

.profile_bg_top {
  background-image: url("../../assets/backgrount_profile.jpg");
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  position: relative;
}

.details_box {
  width: 95% !important;
  height: 120px;
  background: #fffee6 !important;
  margin-top: -100px !important;
  position: absolute;
  bottom: -40px;
  border-radius: 7px;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}
.profile_image {
  width: 120px;
  height: 120px;
  border: 5px solid #ffffff;
  border-radius: 50%;
}
.property_end {
  margin-top: -50px !important;
  align-items: flex-end;
}
.button-change {
  color: #ffd53e !important;
  background: none;
  border-radius: 10px;
  border: 1px solid #f1c93b;
  width: 203px;
  height: 38px;
}
.icon_edit_profile {
  width: 22px !important;
}

.button_edit_profile {
  border-radius: 10px;
  background: #f1c93b;
  width: 156px;
  height: 38px;
  color: white;
  border: none;
}

/* --------------- */
.show_p_number {
  max-width: 533px;
  height: 38px;
  color: #c5c5c5;
  border: 1px solid #c5c5c5;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}
.phone_text {
  font-family: George Rounded !important;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  color: #808080;
  text-align: left;
  margin-bottom: 10px !important;
}

.profile_phone {
  width: 100% !important;
  height: auto !important;
}

.react-tel-input .form-control {
  width: 100% !important;
}
.color-gre {
  color: #5c5c5c;
}

.error {
  width: 100% !important;
  background: #ffe7e7;
  padding: 4px;
  color: rgb(59, 59, 59);
  border-radius: 5px;
  border: 1px solid rgb(255, 169, 169);
}

@media only screen and (max-width: 600px) {
  .border-box h6 {
    font-size: 12px !important;
  }
  .border-box h5 {
    font-size: 20px !important;
  }
  .button-change {
    font-size: 10px !important;
    height: 28px;
  }

  .icon_edit_profile {
    width: 15px !important;
  }

  .button_edit_profile {
    font-size: 10px !important;
    height: 28px;
    width: 160px !important;
  }
  .profile_image {
    width: 65px;
    height: 65px;
  }
  .profile_title {
    font-size: 14px !important;
    text-align: left;
  }
  .email_text {
    font-size: 12px !important;
  }

  .profile_title {
    padding-top: 43px !important;
  }
}
