/* import poppins font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/george-rounded");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiDrawer-paper.MuiDrawer-paperAnchorDockedLeft.MuiDrawer-paperAnchorLeft.MuiPaper-elevation.MuiPaper-elevation0.MuiPaper-root.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  background: rgba(26, 93, 26, 255) !important;
  color: rgba(233, 197, 58, 255) !important;
}

button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-colorInherit.MuiIconButton-edgeStart.MuiIconButton-sizeMedium.css-dhvns5-MuiButtonBase-root-MuiIconButton-root {
  color: rgba(233, 197, 58, 255);
  background: rgba(26, 93, 26, 255);
  border-radius: 50px;
}
.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  color: rgba(233, 197, 58, 255) !important;
  background: rgba(26, 93, 26, 255) !important;
  border-radius: 50px;
}

span.MuiBadge-badge.MuiBadge-standard.MuiBadge-anchorOriginTopRight.MuiBadge-anchorOriginTopRightRectangular.MuiBadge-overlapRectangular.MuiBadge-colorSecondary.css-jcn4dz-MuiBadge-badge {
  background: rgba(26, 93, 26, 255) !important;
}

.MuiInputBase-root.MuiInputBase-colorPrimary.css-16c50h-MuiInputBase-root-MuiTablePagination-select {
  display: none !important;
}

.css-pdct74-MuiTablePagination-selectLabel {
  display: none !important ;
}

p.MuiTablePagination-displayedRows.css-levciy-MuiTablePagination-displayedRows {
  margin: 0 !important;
}
/* --------------------open avatar--- */

li.MuiButtonBase-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiMenuItem-root.MuiMenuItem-gutters.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
/* ----------------------app bar------------------------ */
.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  width: 100% !important;
  background: #185518 !important;
}
